@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap");
.offcanvas__list {
  padding: 50px 0 0 50px;
}
.offcanvas__list-inner {
  padding: 0 0 30px 20px;
}
.offcanvas__list-inner-item {
  margin-bottom: 10px;
}
.offcanvas__list-inner-link {
  font-size: 20px;
  line-height: 23px;
  color: #615f5f;
  transition: color 0.3s linear;
}
.offcanvas__list-inner-link:hover {
  color: rgb(221, 160, 70);
}
.offcanvas__item {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 30px;
  color: rgb(0, 0, 0);
}
.offcanvas__link {
  font-size: 20px;
  font-weight: 600;
  color: rgb(0, 0, 0);
  transform: scale(1);
}
.offcanvas__link:hover {
  color: rgb(109, 109, 109);
}
.offcanvas__btn {
  width: 50px;
}

.offcanvas-header {
  display: flex;
  justify-content: right;
}

.services__swiper {
  display: none;
  max-width: 340px;
  height: 500px;
  background-color: rgb(244, 244, 244);
}
@media screen and (max-width: 500px) {
  .services__swiper {
    display: block;
  }
}
.services__swiper-slide {
  display: flex;
  justify-content: center;
}
.services .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background: rgb(221, 160, 70);
}

.guarantys__swiper {
  display: none;
  max-width: 500px;
  height: 240px;
}
@media screen and (max-width: 600px) {
  .guarantys__swiper {
    display: block;
  }
}
.guarantys__swiper-slide {
  display: flex;
  justify-content: center;
}

.suppliers__swiper {
  width: 100%;
  height: 170px;
}
.suppliers__swiper-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.suppliers__swiper-slide {
  height: 110px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.suppliers .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background: rgb(221, 160, 70);
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
     ========================================================================== */
/**
   * Remove the margin in all browsers.
   */
body {
  margin: 0;
}

/**
   * Render the `main` element consistently in IE.
   */
main {
  display: block;
}

/**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
     ========================================================================== */
/**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
     ========================================================================== */
/**
   * Remove the gray background on active links in IE 10.
   */
a {
  background-color: transparent;
}

/**
   * 1. Remove the bottom border in Chrome 57-
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */
b,
strong {
  font-weight: bolder;
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
   * Add the correct font size in all browsers.
   */
small {
  font-size: 80%;
}

/**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
     ========================================================================== */
/**
   * Remove the border on images inside links in IE 10.
   */
img {
  border-style: none;
}

/* Forms
     ========================================================================== */
/**
   * 1. Change the font styles in all browsers.
   * 2. Remove the margin in Firefox and Safari.
   */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
   * Correct the inability to style clickable types in iOS and Safari.
   */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
   * Remove the inner border and padding in Firefox.
   */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
   * Restore the focus styles unset by the previous rule.
   */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
   * Correct the padding in Firefox.
   */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
   * Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */
progress {
  vertical-align: baseline;
}

/**
   * Remove the default vertical scrollbar in IE 10+.
   */
textarea {
  overflow: auto;
}

/**
   * 1. Add the correct box sizing in IE 10.
   * 2. Remove the padding in IE 10.
   */
[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
   * Remove the inner padding in Chrome and Safari on macOS.
   */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
     ========================================================================== */
/*
   * Add the correct display in Edge, IE 10+, and Firefox.
   */
details {
  display: block;
}

/*
   * Add the correct display in all browsers.
   */
summary {
  display: list-item;
}

/* Misc
     ========================================================================== */
/**
   * Add the correct display in IE 10+.
   */
template {
  display: none;
}

/**
   * Add the correct display in IE 10.
   */
[hidden] {
  display: none;
}

.container {
  max-width: 1060px;
  margin: 0 auto;
  padding: 0 15px;
}

@media screen and (max-width: 500px) {
  .logo {
    width: 127px;
  }
}

.title {
  font-family: Roboto;
  font-size: 48px;
  color: rgb(0, 0, 0);
}

.text {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
  color: rgb(0, 0, 0);
}

.header {
  background-color: rgb(0, 0, 0);
}
.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
}
.header__guarantee {
  font-family: Roboto;
  font-size: 14px;
  line-height: 20px;
}
.header__guarantee span {
  font-size: 18px;
}
.header__guarantee span span {
  color: rgb(221, 160, 70);
}
@media screen and (max-width: 1024px) {
  .header__guarantee {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .header__socials {
    display: none;
  }
}
.header__socials-text {
  font-family: Roboto;
  font-size: 14px;
  color: rgb(221, 160, 70);
  text-align: center;
  margin-bottom: 13px;
  line-height: 16.41px;
}
.header__socials-viber {
  position: relative;
  width: 140px;
  height: 46px;
  color: rgb(255, 255, 255);
  background: rgba(255, 255, 255, 0.22);
  padding-left: 10px;
  transition: filter 0.3s linear;
}
@media screen and (max-width: 800px) {
  .header__socials-viber {
    width: 100px;
    text-align: right;
    padding: 0 10px;
  }
}
.header__socials-viber:hover {
  filter: brightness(80%);
}
.header__socials-viber:before {
  content: url(../../img/header/viber.svg);
  position: absolute;
  left: 15px;
  top: 6px;
}
.header__socials-telegram {
  position: relative;
  width: 140px;
  height: 46px;
  color: rgb(255, 255, 255);
  background: rgba(255, 255, 255, 0.22);
  padding-left: 37px;
  transition: filter 0.3s linear;
}
@media screen and (max-width: 800px) {
  .header__socials-telegram {
    width: 130px;
    text-align: right;
    padding: 0 10px;
  }
}
.header__socials-telegram:hover {
  filter: brightness(80%);
}
.header__socials-telegram:before {
  content: url(../../img/header/telegram.svg);
  position: absolute;
  left: 15px;
  top: 6px;
}
.header__phone {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8.35px;
}
.header__phone-wrapper {
  display: flex;
  align-items: center;
  gap: 5px;
}
@media screen and (max-width: 500px) {
  .header__phone-wrapper {
    display: none;
  }
}
.header__phone-number {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
  color: rgb(255, 255, 255);
  line-height: 21px;
  transition: filter 0.3s linear;
}
.header__phone-number:hover {
  filter: brightness(80%);
  color: rgb(255, 255, 255);
}
.header__phone-btn {
  width: 200px;
  height: 46px;
  font-size: 16px;
  background: linear-gradient(180deg, #ffdc83 0%, #fbd26a 25%, #c17024 84.9%, #e3a548 100%);
  color: rgb(0, 0, 0);
  transition: filter 0.3s linear;
}
.header__phone-btn:hover {
  filter: brightness(80%);
}
@media screen and (max-width: 500px) {
  .header__phone-btn {
    display: none;
  }
}
.header__content {
  background-image: url(../../img/header/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-bottom: 90px;
  margin-bottom: 90px;
}
@media screen and (max-width: 768px) {
  .header__content {
    margin-bottom: 35px;
  }
}
.header__content-inner {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .header__content-inner {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
}
.header__subtitle {
  font-family: Roboto;
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 25px;
}
@media screen and (max-width: 768px) {
  .header__subtitle {
    line-height: 30px;
  }
}
.header__services {
  max-width: 593px;
}
.header__title {
  font-family: Roboto;
  font-size: 60px;
  font-weight: 900;
  line-height: 60px;
}
.header__title span {
  color: rgb(221, 160, 70);
}
.header__title .small {
  font-family: Roboto;
  font-size: 42px;
  font-weight: 700;
  line-height: 49px;
  color: rgb(255, 255, 255);
}
@media screen and (max-width: 768px) {
  .header__title .small {
    font-size: 30px;
    line-height: 30px;
  }
}
@media screen and (max-width: 768px) {
  .header__title {
    font-size: 35px;
    line-height: 40px;
  }
}
.header__services-block {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
@media screen and (max-width: 570px) {
  .header__services-block {
    justify-content: center;
  }
}
.header__service-item {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: 700;
  color: rgb(0, 0, 0);
  width: 160px;
  height: 60px;
  background: rgba(255, 255, 255, 0.71);
  max-width: 160px;
  text-align: center;
  cursor: pointer;
  transition: background 0.3s linear;
}
@media screen and (max-width: 390px) {
  .header__service-item {
    max-width: 120px;
    flex-wrap: nowrap;
  }
}
.header__service-item:hover {
  background: rgb(221, 160, 70);
}
.header__calculation {
  width: 100%;
  max-width: 340px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: rgba(255, 255, 255, 0.71);
  padding: 45px 29px;
}
.header__calculation img {
  margin-bottom: 20px;
}
@media screen and (max-width: 768px) {
  .header__calculation img {
    display: none;
  }
}
.header__calculation-title {
  font-size: 32px;
  font-weight: 700;
  color: rgb(0, 0, 0);
  margin-bottom: 15px;
}
.header__calculation-subtitle {
  font-size: 18px;
  color: rgb(0, 0, 0);
  margin-bottom: 25px;
}
.header__calculation-btn {
  width: 200px;
  height: 46px;
  background: linear-gradient(180deg, #ffdc83 0%, #fbd26a 25%, #c17024 84.9%, #e3a548 100%);
  transition: filter 0.3s linear;
}
.header__calculation-btn:hover {
  filter: brightness(80%);
}

.services__title {
  text-align: center;
  line-height: 56.25px;
}
.services__title span {
  font-weight: 700;
}
.services__inner {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 130px;
  gap: 20px;
}
@media screen and (max-width: 768px) {
  .services__inner {
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 35px;
  }
}
@media screen and (max-width: 500px) {
  .services__inner {
    display: none;
  }
}
.services .services-card {
  width: 100%;
  display: grid;
  grid-template-rows: 125px 100px auto;
  max-width: 340px;
  box-shadow: 0px 0px 74px 0px rgba(39, 17, 10, 0.16);
  background: rgba(255, 255, 255, 0.6);
  margin-bottom: 30px;
}
@media screen and (max-width: 500px) {
  .services .services-card {
    margin-bottom: 0;
  }
}
.services .services-card__title {
  position: relative;
  font-size: 28px;
  font-weight: 900;
  color: rgb(0, 0, 0);
  padding: 44px 0 0px 32px;
}
.services .services-card__title::after {
  content: "●";
  font-size: 45px;
  border-radius: 50%;
  color: rgb(221, 160, 70);
  position: absolute;
  top: 0;
  right: 7px;
}
.services .services-card__btn {
  max-width: 200px;
  height: 46px;
  color: rgb(0, 0, 0);
  background: linear-gradient(180deg, #ffdc83 0%, #fbd26a 25%, #c17024 84.9%, #e3a548 100%);
  font-size: 16px;
  margin-left: 32px;
}
.services .services-card__btn:hover {
  background: rgb(255, 255, 255);
}
.services .services-card__btn::after {
  content: url(../../../img/services/arrow.svg);
  margin-left: 22px;
}
.services .services-card__img {
  display: block;
  width: 100%;
  height: auto;
}

.calculation__title {
  font-weight: 700;
  text-align: center;
  margin-bottom: 25px;
}
.calculation__subtitle {
  font-size: 30px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 55px;
  color: rgb(0, 0, 0);
}
.calculation .calculation-content {
  position: relative;
  display: flex;
  justify-content: space-around;
  background: rgb(29, 26, 20);
  margin-bottom: 130px;
  padding: 60px 90px 62px 90px;
}
@media screen and (max-width: 1024px) {
  .calculation .calculation-content {
    justify-content: space-between;
    padding: 60px 15px 62px 15px;
    gap: 10px;
  }
}
@media screen and (max-width: 768px) {
  .calculation .calculation-content {
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 35px;
  }
}
.calculation .calculation-content:after {
  position: absolute;
  content: url(../../../img/calculation/image3.png);
  top: 0;
  right: 0;
}
@media screen and (max-width: 1024px) {
  .calculation .calculation-content:after {
    display: none;
  }
}
.calculation .calculation-content__info {
  max-width: 417px;
}
@media screen and (max-width: 768px) {
  .calculation .calculation-content__info {
    max-width: 100%;
    text-align: center;
  }
}
.calculation .calculation-content__title {
  font-size: 36px;
  font-weight: 700;
  color: rgb(221, 160, 70);
  margin-bottom: 19px;
  line-height: 50px;
}
@media screen and (max-width: 1024px) {
  .calculation .calculation-content__title {
    font-size: 25px;
    line-height: 35px;
  }
}
.calculation .calculation-content__subtitle {
  font-size: 24px;
  margin-bottom: 81px;
  line-height: 33px;
}
@media screen and (max-width: 1024px) {
  .calculation .calculation-content__subtitle {
    font-size: 20px;
    line-height: 30px;
  }
}
@media screen and (max-width: 768px) {
  .calculation .calculation-content__subtitle {
    margin-bottom: 35px;
  }
}
.calculation .calculation-content__btn {
  max-width: 200px;
  height: 46px;
  background: linear-gradient(180deg, #ffdc83 0%, #fbd26a 25%, #c17024 84.9%, #e3a548 100%);
  transition: filter 0.3s linear;
}
@media screen and (max-width: 768px) {
  .calculation .calculation-content__btn {
    display: none;
  }
}
.calculation .calculation-content__btn--mobile {
  display: none;
}
@media screen and (max-width: 768px) {
  .calculation .calculation-content__btn--mobile {
    display: block;
  }
}
.calculation .calculation-content__btn:hover {
  filter: brightness(80%);
}
@media screen and (max-width: 768px) {
  .calculation .calculation-content__img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }
}
.calculation .calculation-content__video {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.calculation .calculation-content__play {
  position: absolute;
  cursor: pointer;
}

.advantages__title {
  text-align: center;
  margin-bottom: 81px;
}
.advantages__title span {
  font-weight: 700;
}
.advantages__inner {
  margin-bottom: 143px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  column-gap: 20px;
  row-gap: 81px;
  flex-wrap: wrap;
}
@media screen and (max-width: 935px) {
  .advantages__inner {
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    row-gap: 30px;
  }
}
@media screen and (max-width: 768px) {
  .advantages__inner {
    margin-bottom: 50px;
  }
}
@media screen and (max-width: 595px) {
  .advantages__inner {
    grid-template-columns: repeat(1, 320px);
    justify-content: center;
  }
}
@media screen and (max-width: 375px) {
  .advantages__inner {
    grid-template-columns: repeat(1, 1fr);
  }
}
.advantages .advantages-card {
  max-width: 340px;
  display: flex;
  align-items: flex-start;
  gap: 22px;
}
.advantages .advantages-card__icon {
  padding: 13px 13px 14px 14px;
  background: rgb(255, 255, 255);
}
@media screen and (max-width: 640px) {
  .advantages .advantages-card__icon {
    width: 50px;
  }
}
@media screen and (max-width: 595px) {
  .advantages .advantages-card__icon {
    width: 70px;
  }
}
.advantages .advantages-card__title {
  font-size: 20px;
  font-weight: 900;
  line-height: 23px;
  color: rgb(0, 0, 0);
  margin-bottom: 15px;
}
.advantages .advantages-card__subtitle {
  max-width: 220px;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  color: rgb(0, 0, 0);
}
@media screen and (max-width: 680px) {
  .advantages .advantages-card__subtitle {
    font-size: 16px;
  }
}

.gallery__title {
  text-align: center;
  margin-bottom: 81px;
  line-height: 56px;
}
.gallery__title span {
  font-weight: 700;
}
.gallery__inner {
  max-width: 1370px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2px;
  margin-bottom: 53px;
}
@media screen and (max-width: 768px) {
  .gallery__inner {
    padding: 0 15px;
  }
}
@media screen and (max-width: 500px) {
  .gallery__inner {
    grid-template-columns: repeat(2, 1fr);
  }
}
.gallery__img {
  width: 100%;
  height: auto;
}
.gallery__btn {
  width: 200px;
  height: 46px;
  color: rgb(0, 0, 0);
  background: linear-gradient(180deg, #ffdc83 0%, #fbd26a 25%, #c17024 84.9%, #e3a548 100%);
  font-size: 16px;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  margin-bottom: 60px;
  transition: filter 0.3s linear;
}
.gallery__btn:hover {
  filter: brightness(80%);
}
.gallery__btn::after {
  content: url(../../../img/services/arrow.svg);
  margin-left: 22px;
}

.guarantys {
  background: url(../../../img/guarantys/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 81px 0;
}
.guarantys__inner {
  display: flex;
  align-items: center;
  gap: 34px;
}
@media screen and (max-width: 1085px) {
  .guarantys__inner {
    justify-content: center;
  }
}
@media screen and (max-width: 600px) {
  .guarantys__inner {
    display: none;
  }
}
.guarantys__title {
  text-align: center;
  margin-bottom: 63px;
}
.guarantys__title span {
  font-weight: 700;
}
.guarantys__supervisor {
  position: relative;
}
@media screen and (max-width: 1085px) {
  .guarantys__img {
    display: none;
  }
}
.guarantys__supervisor-text {
  position: absolute;
  bottom: 0;
  padding: 0 23px 26px 29px;
  font-size: 18px;
  line-height: 27px;
}
@media screen and (max-width: 1085px) {
  .guarantys__supervisor-text {
    display: none;
  }
}
.guarantys__supervisor-text span {
  font-weight: 700;
}
.guarantys__info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 20px;
  row-gap: 35px;
}
.guarantys__info-block {
  max-width: 303px;
  display: flex;
  align-items: flex-start;
  gap: 8px;
}
@media screen and (max-width: 1085px) {
  .guarantys__info-block {
    max-width: 100%;
  }
}
.guarantys__info-text {
  max-width: 302px;
  font-size: 18px;
  line-height: 27px;
  color: rgb(0, 0, 0);
}
@media screen and (max-width: 600px) {
  .guarantys__info-text {
    max-width: 100%;
  }
}
.guarantys__info-text span {
  font-weight: 700;
}

.achievements {
  background: rgb(29, 26, 20);
}
.achievements__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 42px 0;
  gap: 20px;
}
@media screen and (max-width: 915px) {
  .achievements__inner {
    flex-wrap: wrap;
  }
  .achievements__inner > div:last-of-type {
    max-width: 100%;
  }
}
@media screen and (max-width: 687px) {
  .achievements__inner {
    justify-content: space-around;
  }
  .achievements__inner > div:last-of-type {
    max-width: 212px;
  }
  .achievements__inner > div {
    max-width: 212px;
  }
}
@media screen and (max-width: 490px) {
  .achievements__inner {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: flex-start;
  }
  .achievements__inner > div:last-of-type {
    max-width: 100%;
  }
  .achievements__inner > div {
    width: 100%;
    max-width: 100%;
  }
}
.achievements__block {
  max-width: 200px;
  display: flex;
  align-items: center;
  gap: 17px;
}
.achievements__icon {
  font-size: 64px;
  font-weight: 700;
  color: rgb(221, 160, 70);
}
.achievements__title {
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
}
.achievements__title span {
  font-weight: 700;
}

.suppliers {
  background: rgb(255, 255, 255);
  padding: 93px 0 115px 0;
}
@media screen and (max-width: 490px) {
  .suppliers {
    padding: 35px 0;
  }
}
.suppliers__title {
  text-align: center;
  margin: 0 0 97px 0;
}
.suppliers__title span {
  font-weight: 700;
}
.suppliers__container {
  max-width: 1300px;
  padding: 0 15px;
  margin: 0 auto;
}

.contacts {
  padding: 74px 0 91px 0;
  background: url(../../../img/contacts/bg.jpg);
}
.contacts__title {
  text-align: center;
  font-weight: 700;
  margin-bottom: 45px;
}
.contacts__inner {
  display: flex;
  justify-content: space-between;
}
.contacts .contacts-info {
  width: 100%;
  max-width: 445px;
  background: rgba(255, 255, 255, 0.6);
  box-shadow: 0px 0px 74px 0px rgba(39, 17, 10, 0.16);
  padding: 67px 35px 40px 40px;
}
.contacts .contacts-info__title {
  font-size: 36px;
  font-weight: 900;
  margin-bottom: 29px;
  color: rgb(0, 0, 0);
}
.contacts .contacts-info__subtitle {
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 46px;
  color: rgb(0, 0, 0);
}
.contacts .contacts-info__icon {
  width: 20px;
  height: 20px;
}
.contacts .contacts-info__block {
  display: flex;
  align-items: center;
  gap: 19px;
  margin-bottom: 44.5px;
}
.contacts .contacts-info__text {
  font-size: 20px;
  line-height: 23px;
  color: rgb(0, 0, 0);
}
.contacts .contacts-info__text--gold {
  color: rgb(221, 160, 70);
}
.contacts .contacts-info__socials {
  display: flex;
  gap: 16px;
  margin-bottom: 30px;
}
.contacts .contacts-info__socials-viber {
  position: relative;
  width: 140px;
  height: 46px;
  color: rgb(0, 0, 0);
  background: white;
  font-size: 14px;
  padding-left: 10px;
  transition: filter 0.3s linear;
}
.contacts .contacts-info__socials-viber:hover {
  filter: brightness(80%);
}
.contacts .contacts-info__socials-viber:before {
  content: url(../../img/header/viber.svg);
  position: absolute;
  left: 15px;
  top: 6px;
}
.contacts .contacts-info__socials-telegram {
  position: relative;
  width: 140px;
  height: 46px;
  font-size: 14px;
  color: rgb(0, 0, 0);
  background: white;
  padding-left: 37px;
  transition: filter 0.3s linear;
}
.contacts .contacts-info__socials-telegram:hover {
  filter: brightness(80%);
}
.contacts .contacts-info__socials-telegram:before {
  content: url(../../img/header/telegram.svg);
  position: absolute;
  left: 15px;
  top: 6px;
}
.contacts .contacts-info__phone-number {
  font-size: 36px;
  font-weight: 700;
  line-height: 42px;
  color: rgb(0, 0, 0);
  line-height: 55px;
}
.contacts .contacts-info__btn {
  width: 200px;
  height: 46px;
  background: linear-gradient(180deg, #ffdc83 0%, #fbd26a 25%, #c17024 84.9%, #e3a548 100%);
  box-shadow: 1px 1px 12px 0px rgba(0, 0, 0, 0.19) inset;
  transition: filter 0.3s linear;
  margin-top: -16px;
}
.contacts .contacts-info__btn:hover {
  filter: brightness(80%);
}
.contacts .contacts-form {
  max-width: 445px;
}
.contacts .contacts-form__text {
  width: 100%;
  height: 120px;
  max-width: 445px;
  padding: 13px 0 0 14px;
  background: rgba(255, 255, 255, 0.33);
  border: none;
  outline: none;
  box-shadow: 1px 1px 12px 0px rgba(0, 0, 0, 0.19) inset;
  margin-bottom: 15px;
}
.contacts .contacts-form__input {
  width: 100%;
  max-width: 445px;
  padding: 9px 0 17px 14px;
  background: rgba(255, 255, 255, 0.33);
  box-shadow: 1px 1px 12px 0px rgba(0, 0, 0, 0.19) inset;
  border: none;
  outline: none;
  box-shadow: 1px 1px 12px 0px rgba(0, 0, 0, 0.19) inset;
  margin-bottom: 35px;
}
.contacts .contacts-form__btn {
  width: 200px;
  height: 46px;
  background: linear-gradient(180deg, #ffdc83 0%, #fbd26a 25%, #c17024 84.9%, #e3a548 100%);
  box-shadow: 1px 1px 12px 0px rgba(0, 0, 0, 0.19) inset;
  transition: filter 0.3s linear;
}
.contacts .contacts-form__btn:hover {
  filter: brightness(80%);
}

.footer {
  background: rgb(0, 0, 0);
}
.footer__inner {
  padding: 70px 0;
  display: flex;
  justify-content: space-between;
}
.footer__subtitle {
  font-size: 24px;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.5);
  margin-bottom: 30px;
}
.footer__link {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  color: rgba(255, 255, 255, 0.5);
  transition: color 0.3s linear;
}
.footer__link::before {
  content: "-";
}
.footer__link:hover {
  color: rgb(221, 160, 70);
}
.footer__links li {
  margin-bottom: 30px;
}
.footer__link-large {
  font-size: 24px;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.5);
  transition: color 0.3s linear;
}
.footer__link-large:hover {
  color: rgb(221, 160, 70);
}
.footer .footer-contacts__block {
  display: flex;
  align-items: center;
  gap: 19px;
  margin-bottom: 30px;
}
.footer .footer-contacts__text {
  font-size: 18px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.5);
  transition: color 0.3s linear;
}
.footer .footer-contacts__text:hover {
  color: rgb(221, 160, 70);
}
.footer .footer-contacts__socials {
  display: flex;
  align-items: center;
  gap: 15px;
}
.footer .footer-contacts__icon:hover {
  transition: filter 0.3s linear;
  filter: brightness(80%);
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  background: rgb(244, 244, 244);
  color: rgb(255, 255, 255);
}/*# sourceMappingURL=main.css.map */