@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

@import './base/reset';
@import './base/normalize';
@import './base/common';
@import './base/variables';
@import './components/header';
@import './components/main/services';
@import './components/main/calculation';
@import './components/main/advantages';
@import './components/main/gallery';
@import './components/main/guarantys';
@import './components/main/achievements';
@import './components/main/suppliers';
@import './components/main/contacts';
@import './components/footer';

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    background: rgba(244, 244, 244, 1);
    color: $white;
}
