.services {
    &__swiper {
        display: none;
        max-width: 340px;
        height: 500px;
        background-color: rgba(244, 244, 244, 1);

        @media screen and (max-width: 500px) {
            display: block;
        }
    }

    &__swiper-slide {
        display: flex;
        justify-content: center;
    }

    .swiper-pagination-bullet {
        width: 12px;
        height: 12px;
        background: $main;
    }
}

.guarantys {
    &__swiper {
        display: none;
        max-width: 500px;
        height: 145px;

        @media screen and (max-width: 600px) {
            display: block;
        }

        @media screen and (max-width: 450px) {
            height: 230px;
        }
    }

    &__swiper-slide {
        display: flex;
        justify-content: center;
    }
}

.suppliers {
    &__swiper {
        width: 100%;
        height: 170px;
    }

    &__swiper-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__swiper-slide {
        height: 110px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .swiper-pagination-bullet {
        width: 12px;
        height: 12px;
        background: $main;
    }
}
