.calculation {
    &__title {
        font-weight: 700;
        text-align: center;
        margin-bottom: 25px;
    }
    &__subtitle {
        font-size: 30px;
        font-weight: 400;
        text-align: center;
        margin-bottom: 55px;
        color: $black;
    }

    .calculation-content {
        position: relative;
        display: flex;
        justify-content: space-around;
        background: rgba(29, 26, 20, 1);
        margin-bottom: 130px;
        padding: 60px 90px 62px 90px;

        @media screen and (max-width: 1024px) {
            justify-content: space-between;
            padding: 60px 15px 62px 15px;
            gap: 10px;
        }

        @media screen and (max-width: 768px) {
            flex-wrap: wrap;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-bottom: 35px;
        }

        &:after {
            position: absolute;
            content: url(../../../img/calculation/image3.png);
            top: 0;
            right: 0;

            @media screen and (max-width: 1024px) {
                display: none;
            }
        }

        &__info {
            max-width: 417px;

            @media screen and (max-width: 768px) {
                max-width: 100%;
                text-align: center;
            }
        }

        &__title {
            font-size: 36px;
            font-weight: 700;
            color: $main;
            margin-bottom: 19px;
            line-height: 50px;

            @media screen and (max-width: 1024px) {
                font-size: 25px;
                line-height: 35px;
            }
        }

        &__subtitle {
            font-size: 24px;
            margin-bottom: 81px;
            line-height: 33px;

            @media screen and (max-width: 1024px) {
                font-size: 20px;
                line-height: 30px;
            }

            @media screen and (max-width: 768px) {
                margin-bottom: 35px;
            }
        }

        &__btn {
            max-width: 200px;
            height: 46px;
            background: linear-gradient(
                180deg,
                #ffdc83 0%,
                #fbd26a 25%,
                #c17024 84.9%,
                #e3a548 100%
            );
            transition: filter 0.3s linear;

            @media screen and (max-width: 768px) {
                display: none;
            }

            &--mobile {
                display: none;

                @media screen and (max-width: 768px) {
                    display: block;
                }
            }

            &:hover {
                filter: $hover;
            }
        }

        &__img {
            @media screen and (max-width: 768px) {
                width: 100%;
                height: auto;
                margin-bottom: 20px;
            }
        }

        &__video {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 1;
        }

        &__play {
            position: absolute;
            cursor: pointer;
        }
    }
}
