.suppliers {
    background: rgba(255, 255, 255, 1);
    padding: 93px 0 115px 0;

    @media screen and (max-width: 490px) {
        padding: 35px 0;
    }

    &__title {
        text-align: center;
        margin: 0 0 97px 0;

        span {
            font-weight: 700;
        }
    }

    &__container {
        max-width: 1300px;
        padding: 0 15px;
        margin: 0 auto;
    }
}
