$main: rgba(221, 160, 70, 1);
$gold: linear-gradient(
    180deg,
    #ffdc83 0%,
    #fbd26a 25%,
    #c17024 84.9%,
    #e3a548 100%
);
$white: rgba(255, 255, 255, 1);
$grey: rgba(255, 255, 255, 0.5);
$black: rgba(0, 0, 0, 1);
$hover: brightness(80%);
